<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Marie Claire Jewelry | Classique Collection</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="fragment" content="!">
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.min.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <!-- Facebook like button stuff -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div id="wrap"> <!-- width: 960px  --> 
<!-- 
=================
    Header
=================
-->
            <div id="header">
                <div id="searchBar">
                    <form>
                        <input type="text" name="filter" placeholder="Search products" class="searchForm"></input>
                    </form>
                </div>
                <a href="index.html"><img src="img/marieClaireLogo.png" alt="Marie Claire Jewelry" class="centered" /></a>

                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="#">COLLECTIONS</a>
                        <ul>
                            <li><a href="classique.html">CLASSIQUE</a></li>
                            <li><a href="chic.html">CHIC</a></li>
                        </ul>
                    </li>
                    <!-- <li><a href="press.html">IN THE PRESS</a></li> -->
                    <li><a href="lookbook.html">VIEW LOOK BOOK</a></li>
                    <li><a href="contact.php">CONTACT</a></li>
                </ul>
            </div>
<!-- 
=================
    Header
=================
-->
            <div id="content">
                <div id="leftFloat" class="classiqueCollection offWhite">
                    <img id="clsqNecklaceImg" src="img/classiqueNecklace.png">
                    <div style="position:absolute; left:13em">
                        <br/><br/>
                        <img style="position:relative;" src="img/classiqueHeadingImg.png" />
                        <br/>
                        <span class="bodyCopy">
                            <br/><h1>The Classique story is produced in <br/> 
                            sterling silver and consists of clean, <br/>
                            bold classic shapes.</h1>
                        </span>
                        <span class="underline classiqueCollection pt12">View Full Collection</span>
                        <br><br>
                        <a href="http://www.jared.com/en/jaredstore/searchterm/Marie%20Claire%20Jewelry/true/Marie%20Claire%20Jewelry"><h3>Exclusively at Jared</h3></a>
                    </div>
                </div>
                <div id="rightFloat">
                    <img class="fullWidth" src="img/classiqueMainImg.png">
                </div>

                <div id="contentView">
                    <div class="right displayImg clsqProductImage"></div>



                    <div id="scrollbar1" class="left">
                        <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>

                        <div class="viewport">
                            <div id="productGallery" class="overview">
 

                            </div>
                        </div>
                    </div>

                    <div id="detailContainer" class="centerDetails">
                        <div class='closeMe'><img id='closeButton' src='img/closeButton.png' /></div>
                        <div id="stuff"></div>
                        <div id="fbLike">
                            <fb:like send="true" width="450" show_faces="true"></fb:like>
                            <a id="emailShare" href="#"> <img src="img/email-icon.png" /> </a>
                            <a id="pinterestShare" href="#" target="_blank" class="pin-it-button" count-layout="none"> <img src="img/pinterest-icon.png" /> </a>
                            <a id="twitterShare" href="#" target="_blank"> <img src="img/twitter-icon.png" /> </a>
                            
                         </div>
                    </div>
                </div>

            </div>
 <!-- 
=================
    Footer
=================
-->           
            <div id="footer">
                <table>
                    <tr><td><a href="index.html">HOME</a></td><td><a href="classique.html">CLASSIQUE</a></td><td><a href="lookbook.html">VIEW LOOK BOOK</a></td><!-- <td><a href="press.html">IN THE PRESS</a></td> --></tr>
                    <tr><td><a href="about.html">ABOUT</a></td><td><a href="chic.html">CHIC</a></td><td><a href="contact.php">CONTACT</a></td></tr>
                </table>
                <span class="socialIcons"><a href="http://www.facebook.com/MarieClaire" target="new"><img src="img/facebookSoc.png"/></a><a href="https://twitter.com/marieclaire" target="new"><img src="img/twitterSoc.png"/></a><a href="http://pinterest.com/source/marieclaire.com/" target="new"><img src="img/pinterestSoc.png"/></a></span>

                <div class="copyright"></div>
            </div>
        </div>


        <span id="browserPrompt"></span>


        <script id="thumbTemplate" type="text/template">

            <div class="triangle"></div> 
            <img src="img/productImages/thumbs/<%=img1%>_thumb.jpg" />

        </script>


        <script id="detailsTemplate" type="text/template">

            <div class="details">
                <div id="detailImg">
                    <img id="bigImage" src="img/productImages/<%=img1%>.jpg" />
                </div>
                <div id="detailText">
                    <div>                
                        Product Detail  
                        <br/>
                        <strong><%=prodName%></strong> <br/> </br>
                        <%=details%> <br/><br/>
                        Style #<%=id%>
                        <div class="availableAt">
                        <br/>
                         <strong>Buy Now:</strong>
                         <% if(linkJared) { %>
                            <a href="<%=linkJared%>"><img src="img/jaredLogo.png" alt="Jared's"/></a>
                         <% } else { %>
                            <h2>Coming Soon!</h2>
                         <% } %>
                        </div>

                    </div>
                    <div>

                    </div>
                </div>
            </div> 

        </script>

   
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/vendor/underscore-min.js"></script>
        <script src="js/vendor/backbone-min.js"></script>
        <script src="js/vendor/jquery.zoom.js"></script>
        <script src="js/vendor/jquery.backgroundSize.js"></script>
        <script src="js/productList.min.js"></script>
        <script src="js/app.min.js"></script>
        <script src="js/main.min.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-38464588-1', 'marieclairejewelry.com');
          ga('send', 'pageview');

        </script>
    </body>
</html>
